@import "./fonts.css";

:root {
    --light: #fff;
    --dark: rgb(12, 7, 7);
    --success: rgb(4, 126, 4);
    --warn: rgb(230, 184, 36);
    --danger: rgb(245, 29, 29);
    --primary: rgb(20, 20, 247);
    --webinar-color: #DFAD63;
    --join_chat-color: #8BB47D;
    --privite_massage-color: #5982C0;
    --participant-color: #A0A0A0;
}

/* BASE CONFIG */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Libre Franklin""Tenor San""Source Serif Pro",
    Arial,
    Helvetica,
    sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    background: none;
    border: none;
}

ul,
ol,
li {
    list-style-type: none
}

/* BASE CONFIG */



.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}





/* HEADER */

.header {
    height: 90px;
    padding: 33px 140px 33px 120px;
}


.header__container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.header__nav a {
    margin-left: 40px;
}

a {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.header__burger {
    display: none;
    position: relative;
    width: 20px;
    height: 2px;
    background-color: gray;
}

.header__burger::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: gray;
    top: -5px;
}

.header__burger::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: gray;
    bottom: -5px;
}

/* MAIN SECTION */
.main {
    display: grid;
    padding-top: 59px;
    grid-template-columns: 1fr 1fr;
    column-gap: 51px;
    padding-bottom: 60px;
}

.main__name {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999999;
}

.main__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #000000;
    margin-top: 18px;
}

.main__discr {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
    margin-top: 27px;
}

.main__by {
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
    margin-top: 28px;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 90px;
        column-gap: 19px;
    row-gap: 74px;
}

.gallary__container {
    max-width: 386px;
}
.gallary__discr{
    margin-top: 24px;    
}

.gallary__name {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999999;
    margin-bottom: 18px;
}

.gallary__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 15px;
}

.gallary__by {
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
}
.line::before{
    content: "";
    border: 1px gray ;
}





























.main__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.gallery__cards-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 19px;
    row-gap: 74px;
}

.gallery__cards-buttom {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "card1 card1 card4"
        "card2 card3 card4";

    column-gap: 28px;
    row-gap: 28px;
    margin-top: 28px;
    margin-bottom: 101px;

}

.card__sunglasses {
    grid-area: card1;
}

.card__lingerine {
    grid-area: card2;
}

.card__Watch {
    grid-area: card3;
}

.card__accessories {
    grid-area: card4;
}